name: DTVM-EVM test CI in x86-64

on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'resources/**'
      - '*.md'
      - '.gitignore'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'resources/**'
      - '*.md'
      - '.gitignore'
permissions:
    contents: read

jobs:
  build_test_evm_interpreter_x86_ctest:
    name: Test DTVM-EVM interpreter with ctest on x86-64
    runs-on: ubuntu-latest
    container:
      image: dtvmdev1/dtvm-dev-x64:main
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: "true"
      - name: Code Format Check
        run: |
          ./tools/format.sh check
      - name: Clone asmjit
        run: |
          git clone https://github.com/asmjit/asmjit.git
      - name: Build and Test
        run: |
          echo "current home is $HOME"
          export LLVM_SYS_150_PREFIX=/opt/llvm15
          export LLVM_DIR=$LLVM_SYS_150_PREFIX/lib/cmake/llvm
          export PATH=$LLVM_SYS_150_PREFIX/bin:$PATH
          export CMAKE_BUILD_TARGET=Debug
          export ENABLE_ASAN=true
          export RUN_MODE=interpreter
          export INPUT_FORMAT=evm
          export ENABLE_LAZY=true
          export ENABLE_MULTITHREAD=true
          export TestSuite=evmtestsuite
          export CPU_EXCEPTION_TYPE='check'
          export ENABLE_GAS_METER=false

          bash .ci/run_test_suite.sh

  build_test_release_multipass_lazy_evmtestsuite_on_x86_ctest:
    name: Test DTVM-EVM multipass in release mode with ctest on x86-64
    runs-on: ubuntu-latest
    container:
      image: dtvmdev1/dtvm-dev-x64:main
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: "true"
      - name: Code Format Check
        run: |
          ./tools/format.sh check
      - name: Build and Test
        run: |
          echo "current home is $HOME"
          export LLVM_SYS_150_PREFIX=/opt/llvm15
          export LLVM_DIR=$LLVM_SYS_150_PREFIX/lib/cmake/llvm
          export PATH=$LLVM_SYS_150_PREFIX/bin:$PATH
          export CMAKE_BUILD_TARGET=Release
          export ENABLE_ASAN=true
          export RUN_MODE=multipass
          export INPUT_FORMAT=evm
          export ENABLE_LAZY=false
          export ENABLE_MULTITHREAD=true
          export TestSuite=evmtestsuite
          export CPU_EXCEPTION_TYPE='check'
          export ENABLE_GAS_METER=true

          bash .ci/run_test_suite.sh

  build_test_evm_interpreter_x86_cli:
    name: Test DTVM-EVM interpreter with CLI on x86-64
    runs-on: ubuntu-latest
    container:
      image: dtvmdev1/dtvm-dev-x64:main
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: "true"
      - name: Code Format Check
        run: |
          ./tools/format.sh check
      - name: Build and Test
        run: |
          echo "current home is $HOME"
          export LLVM_SYS_150_PREFIX=/opt/llvm15
          export LLVM_DIR=$LLVM_SYS_150_PREFIX/lib/cmake/llvm
          export PATH=$LLVM_SYS_150_PREFIX/bin:$PATH
          export CMAKE_BUILD_TARGET=Debug
          export ENABLE_ASAN=true
          export RUN_MODE=interpreter
          export INPUT_FORMAT=evm
          export ENABLE_LAZY=true
          export ENABLE_MULTITHREAD=true
          export TestSuite=evmrealsuite
          export CPU_EXCEPTION_TYPE='check'
          export ENABLE_GAS_METER=false

          bash .ci/run_test_suite.sh

  build_test_debug_multipass_lazy_evmtestsuite_on_x86:
    name: Test DTVM-EVM multipass in debug mode on x86-64
    runs-on: ubuntu-latest
    container:
      image: dtvmdev1/dtvm-dev-x64:main
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: "true"
      - name: Code Format Check
        run: |
          ./tools/format.sh check
      - name: Build and Test
        run: |
          echo "current home is $HOME"
          export LLVM_SYS_150_PREFIX=/opt/llvm15
          export LLVM_DIR=$LLVM_SYS_150_PREFIX/lib/cmake/llvm
          export PATH=$LLVM_SYS_150_PREFIX/bin:$PATH
          export CMAKE_BUILD_TARGET=Debug
          export ENABLE_ASAN=true
          export RUN_MODE=multipass
          export INPUT_FORMAT=evm
          export ENABLE_LAZY=false
          export ENABLE_MULTITHREAD=true
          export TestSuite=evmrealsuite
          export CPU_EXCEPTION_TYPE='check'
          export ENABLE_GAS_METER=true

          bash .ci/run_test_suite.sh
  build_test_release_evmone_unittests_on_x86:
    name: Test DTVM-EVM multipass using evmone unit tests in release mode on x86-64
    runs-on: ubuntu-latest
    container:
      image: dtvmdev1/dtvm-dev-x64:main
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: "true"
      - name: Code Format Check
        run: |
          ./tools/format.sh check
      - name: Build and Test
        run: |
          echo "current home is $HOME"
          export LLVM_SYS_150_PREFIX=/opt/llvm15
          export LLVM_DIR=$LLVM_SYS_150_PREFIX/lib/cmake/llvm
          export PATH=$LLVM_SYS_150_PREFIX/bin:$PATH
          export CMAKE_BUILD_TARGET=Release
          export ENABLE_ASAN=true
          export RUN_MODE=multipass
          export CPU_EXCEPTION_TYPE='cpu'
          export TestSuite=evmonetestsuite

          bash .ci/run_test_suite.sh
